body {
    background: #ffffff;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color :#5D6769;
    font-size: 14px;
}
a{
    text-decoration: none;
}
.container{
    max-width:100%; 
    width:1200px; 
    margin:0 auto; 
    padding:0; 
    position:static;
    
}
.header{
    height: 150px;
    margin-top: 50px;

}
.header h1{
    font-family: 'Roboto Slab', serif;
    color: #5D6769;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2em;
}
.header p{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #5D6769;
}
.des{
    width: 800px;
}
.menu{
    background:#fff;
    border-bottom: #eee 1px solid;
    height: 70px;

}
.menu ul, menu li {
    margin: 0 0;
    padding:0 0; 
    list-style:none; 
    z-index:9999;
}
.menu li{
    float:left; 
    display:inline; 
    

}
.menu a{
    display: block; 
    padding:0 20px; 
    text-decoration: none; 
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: #428bca;
    line-height:70px; 
    font-size: 17px;
    
   
}
.menu li:first-child{
    background: #428bca;

}
.menu li:first-child a{
    color:#fff;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.main img{
    width: 550px; 
    
   
}
.main h2,h2 a{
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 28px;
    color: #3594BA;
    line-height: 1.2em;
    padding:0;
    margin: 0;
}
.post{
    width: 580px;
   margin: 5px 10px 20px 0;
   position: static;
  
}
.fp img{  width: 100px;
    height: 100px;
    border-radius: 50%;

}
.fp{display:block;
    position: relative;
    top: 30px;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    margin-top: -50px;
    margin-left: 10px;
}
   
    
.button{
    padding: 10px 10px;
    background:  #428bca;
    
    width:100px;
    text-align: center;
    margin: 40px 0;
}
.button a, button a:visited{
    color: #fff;
}